<div class="container">
  <app-header-nav class="header-nav">
    <app-header-nav-item title="خانه"></app-header-nav-item>
    <app-header-nav-item title="سفرها" [hasMenu]="true">
      <app-header-menu-tour-item title="سفرهای خارجی"
                                 imageUrl="assets/images/6-303.jpg"
                                 description="سفرهای خارج از کشور در تاریخ‌‌های معین با گروه‌های 8 تا 24 نفری"></app-header-menu-tour-item>
      <app-header-menu-tour-item title="سفرهای چند روزه داخلی"
                                 imageUrl="assets/images/8-850.jpg"
                                 description="سفرهای گروهی طبیعت‌گردی و ایرانگردی در تاریخ‌های معین با درجه فعالیت‌های مختلف"></app-header-menu-tour-item>
      <app-header-menu-tour-item title="سفرهای یک روزه"
                                 imageUrl="assets/images/7-945.jpg"
                                 description="سفرهای یک‌ روزه‌ گروهی آخر هفته‌ها و تعطیلات از مبدا تهران"></app-header-menu-tour-item>
      <app-header-menu-tour-item title="سفرهای اختصاصی"
                                 imageUrl="assets/images/12-918.jpg"
                                 description="این تورها هر روزی که شما بخواهید اجرا می‌شود؛ چه خارجی و چه داخلی"></app-header-menu-tour-item>
    </app-header-nav-item>
    <app-header-nav-item title="ویزا و خدمات ویژه"></app-header-nav-item>
    <app-header-nav-item title="مقاصد دالاهو"></app-header-nav-item>
    <app-header-nav-item title="یشنهاد ویژه" [hasMenu]="true" [isVIP]="true">
      <app-header-menu-vip-item title="سفر به استانبول"
                                imageUrl="assets/images/1-967.jpg"></app-header-menu-vip-item>
      <app-header-menu-vip-item title="تعطیلی اسفند"
                                imageUrl="assets/images/2-1633.jpg"></app-header-menu-vip-item>
      <app-header-menu-vip-item title="یک روزه های نوروز 99"
                                imageUrl="assets/images/4-1677.jpg"></app-header-menu-vip-item>
    </app-header-nav-item>
    <app-header-nav-item title="تورهای نوروز 99"></app-header-nav-item>
  </app-header-nav>
  <app-header-search class="header-search"></app-header-search>
</div>
