<div class="container">
  <app-header-nav class="header-nav">
    <app-header-nav-item title="خانه"></app-header-nav-item>
    <app-header-nav-item title="سفرها" [hasMenu]="true"></app-header-nav-item>
    <app-header-nav-item title="ویزا و خدمات ویژه"></app-header-nav-item>
    <app-header-nav-item title="مقاصد دالاهو"></app-header-nav-item>
    <app-header-nav-item title="یشنهاد ویژه" [hasMenu]="true" [isVIP]="true"></app-header-nav-item>
    <app-header-nav-item title="تورهای نوروز 99"></app-header-nav-item>
  </app-header-nav>
  <app-header-search class="header-search"></app-header-search>
</div>
