@import "src/assets/sass/mixins";
:host {
  @include hostContentFullVerticalSpace();


  .container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    .header-nav {
      flex: 1;
    }

    .header-search {
      flex: 0 0 auto;
    }
  }
}
