<div class="container">
  <div class="right-side">
    <div class="time">همه روزه ۸:۴۵ تا ۱۸:۰۰</div>
    <div class="tel">
      با ما تماس بگیرید:
      <i dir="ltr"><a class="tel-link" href="tel:0214166 3000">0214166 3000</a></i>
      <i class="fa fa-phone tel-icon"></i>
    </div>
  </div>
  <div class="left-side">
    <div class="title"></div>
    <div class="links">
      <a class="link" href="http://www.instagram.com">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="link" href="http://www.telegram.com">
        <i class="fa fa-paper-plane-o"></i>
      </a>
      <a class="link" href="http://www.dalahoo.com">
        <i class="fa fa-rss"></i>
      </a>
    </div>
  </div>
</div>
