.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 13px;

  .copy-en {
    color: rgba(0, 0, 0, .5);
    font-family: Arial;
  }

  .author {
    color: rgba(0, 0, 0, .7);
  }
}
