@font-face{
  font-family: 'Samim';
  src: url('src/assets/fonts/Samim-FD.eot'),
  url('src/assets/fonts/Samim-FD.woff') format('woff'),
  url('src/assets/fonts/Samim-FD.woff2') format('woff2'),
  url('src/assets/fonts/Samim-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'SamimBold';
  src: url('src/assets/fonts/Samim-Bold-FD.eot'),
  url('src/assets/fonts/Samim-Bold-FD.woff') format('woff'),
  url('src/assets/fonts/Samim-Bold-FD.woff2') format('woff2'),
  url('src/assets/fonts/Samim-Bold-FD.ttf') format('truetype');
  font-weight: normal;
}







