.header {
  display: flex;
  flex-flow: column nowrap;
  border-top: 2px solid var(--color-blue);

  .header-top {
    flex: 0 0 40px;
  }

  .header-middle {
    flex: 0 0 86px;
  }

  .header-bottom {
    flex: 0 0 48px;
    background-color: #1a507f;
  }
}
